doctype html
html
	head 
		link(rel='stylesheet', href='/css/semantic.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src='//cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
		script(src='/js/semantic.js')
		script(src='/js/main.js')
		title login
	body
		block content
